.mAtuo{
    width: 1180px;
    margin: 0 auto;
}
img{
    border: none;
}
.wrap {
    width: 100%;
}
.wrap .navBox{
    background: #242428;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #b6b4b6;

}
.wrap .navBox .nav1{
    position: fixed;
    top: 0;
    left: 85px;
}
.wrap .navBox .nav1 .logo{
    display: inline-block;
    vertical-align: middle;
    width: 119px;
    height: 26px;
    background: url("../images/playicons.png") no-repeat -181px -124px;
}
.wrap .navBox .nav1 a{
    color: #999;
    font-size: 14px;
    margin: 0 0 0 35px;
    position: relative;
}
.wrap .navBox .nav1 a:hover{
    color: #009cff;
}
.wrap .navBox .nav1 .navA{
    padding-right: 25px;
    background: url("../images/indexicons.png") no-repeat -347px -559px;
}
.wrap .navBox .nav1 .navA:hover{
    background: url("../images/indexicons.png") no-repeat -347px -587px;
}
.wrap .navBox .nav1 .searchBox{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    width: 381px;
    height: 30px;
    line-height: 30px;
    background: #383a42;
    border: none;
    margin-left: 80px;
    vertical-align: middle;
}
.wrap .navBox .nav1 .search{
    width: 87px;
    height: 30px;
    border: none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    /*position: absolute;*/
    /*left: 740px;*/
    /*top: 20px;*/
    vertical-align: middle;
    text-indent: -9999px;
    background: url("../images/playicons.png") no-repeat -115px -40px;
}
.wrap .navBox .nav1  ul{
    width: 272px;
    height: 40px;
    display: block;
    position: absolute;
    top: -9px;
    left: 900px;
}
.wrap .navBox .nav1  ul li{
    float: left;
    height: 40px;
    margin-left:28px;
    padding-top: 20px;
}
.wrap .navBox .nav1  ul .history{
     background: url("../images/playicons.png") no-repeat -113px 20px;
 }
.wrap .navBox .nav1  ul .collect{
    background: url("../images/playicons.png") no-repeat -166px 20px;
}
.wrap .navBox .nav1  ul .client{
    background: url("../images/playicons.png") no-repeat -216px 20px;
}
.wrap .navBox .nav1  ul .lr{
    background: url("../images/playicons.png") no-repeat -260px 20px;
}
.wrap .navBox .nav1  ul li a{

    bottom: 0;
    margin: 0px;
}