.wrap{
    width: 100%;
    background: #f9f9f9;

}
input{
    line-height: 30px;
}
input::-ms-clear{
    display: none;
}
input::-ms-reveal{
    display: none;
}
.wrap .logo{
    width: 1000px;
    padding: 26px 0;
}
.wrap .logo div{
    width: 175px;
    height: 38px;

    background:url("../images/indexicons.png") no-repeat 0 -565px ;
}
.content_l{
    width: 100%;

    background: #46a4e9;
}
.content_l .bg1{
    width: 1000px;
    height: 542px;
    margin: 0 auto;
    background: url("../images/mbanner.jpg");
    position: relative;
}
.content_l .bg1 img{
    position: absolute;
    top: 66px;
}
/*登录界面*/
.content_l .bg1 .login{
    position: absolute;
    top: 52px;
    right: 40px;
    width: 332px;
    height: 446px;
    background: #fff;
    box-sizing: border-box;
    padding: 22px 24px;
}
.content_l .bg1 .login i{
    display: block;
    width: 85px;
    height: 24px;
    background: url("../images/new-sso.png") no-repeat 0px -2px;
    margin-bottom: 41px;
}
.content_l .bg1 .login .name,
.content_l .bg1 .login .password,
.content_l .bg1 .login .verC
{
    width: 252px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
    border: 1px solid #ddd;
}
.content_l .bg1 .login .strength{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 49px;
    left: 253px;
    background: url("../images/new-sso.png") no-repeat -40px -70px;
}
.content_l .bg1 .login .strength2{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 49px;
    left: 253px;
    background: url("../images/new-sso.png") no-repeat -70px -70px;
}.content_l .bg1 .login .strength3{
     width: 24px;
     height: 24px;
     position: absolute;
     top: 49px;
     left: 253px;
     background: url("../images/new-sso.png") no-repeat -100px -70px;
 }.content_l .bg1 .login .strength4{
      width: 24px;
      height: 24px;
      position: absolute;
      top: 49px;
      left: 253px;
      background: url("../images/new-sso.png") no-repeat -130px -70px;
  }
.content_l .bg1 .login form{
    position: relative;
}
.content_l .bg1 .login .phone,
.content_l .bg1 .login .pw,
.content_l .bg1 .login .code{
    display: inline-block;
    font-size: 12px;
    color: #555;
    position: absolute;
    left: 30px;
}
.content_l .bg1 .login .phone{
    top: 9px;
}
.content_l .bg1 .login .pw{
    top: 54px;
}
.content_l .bg1 .login .code{
    top: 97px;
}
.content_l .bg1 .login em{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}
.content_l .bg1 .login .verC{
    display: inline-block;
    width: 110px;
    vertical-align:top;
    padding-left: 30px;


}
.content_l .bg1 .login .verCBox{
    display: inline-block;
    vertical-align:top;
    width: 90px;height: 30px;
    line-height: 30px;
    border: 1px solid #e1e1e1;
    margin: 0 4px;
    text-align: center;
    font-size: 20px;
}
.content_l .bg1 .login .refresh1{
    display: inline-block;
    border: 1px solid #e1e1e1;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("../images/new-sso.png") no-repeat -120px -30px;
}
.content_l .bg1 .login .refresh1:hover{
    background: url("../images/new-sso.png") no-repeat -150px -30px;

}

.content_l .bg1 .login .na{
    top: 2px;
    left: 1px;
    background: url("../images/new-sso.png") no-repeat 0px -30px;
}
.content_l .bg1 .login .pass{
    top: 46px;
    left: 1px;
    background: url("../images/new-sso.png") no-repeat -30px -30px;
}
.content_l .bg1 .login .ver{
    top: 90px;
    left: 1px;
    background: url("../images/new-sso.png") no-repeat -60px -30px;
}
.content_l .bg1 .login .checkbox{
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    background: url("../images/new-sso.png") no-repeat -20px -66px;
}
.content_l .bg1 .login .checkbox2{
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url("../images/new-sso.png") no-repeat 0px -66px;
}
.content_l .bg1 .login .me{
    display: inline-block;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}
.content_l .bg1 .login .sub{
    display: block;
    margin: 10px 0 12px;
    width: 284px;
    height: 38px;
    background: #1a9eff;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.content_l .bg1 .login .sub:hover{
    background: #69bfff;
}
.content_l .bg1 .login #tip{
    position: absolute;
    top: -22px;
    color: red;
    font-size: 12px;
}
.content_l .bg1 .login  a,
.content_l .bg1 .login  b{
    color: #46a4e9;
}
.content_l .bg1 .login .reg{
    margin-left: 44px;
}
/*.content_l .bg1 .login .phone,*/
/*.content_l .bg1 .login .pw{*/
/*    font-size: 12px;*/
/*    color: #555;*/
/*    position: absolute;*/
/*    left: 20px;*/
/*}*/
.content_l .bg1 .login .question{
    display: inline-block;
    color: #999;
    font-size: 12px;

}
.content_l .bg1 .login .question b{
    display: inline-block;
    vertical-align: bottom;
    width: 15px;
    height: 15px;
    background: url("../images/new-sso.png") no-repeat -165px -74px;
}
.content_l .bg1 .login  .mp{
    margin-left: 131px;
}
.content_l .bg1 .login .media{
    width: 238px;
    height: 48px;
    border-top: 1px solid #e1e1e1;
    position: absolute;
    bottom: 22px;
    left: 46px;
    text-align: center;

}
.content_l .bg1 .login .media p{
    font-size: 12px;
    color: #999;
    background: #fff;
    position: absolute;
    top: -9px;
    left: 78px;
    padding: 0px 4px 0 4px;
}
.content_l .bg1 .login .media a{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 17px;
}
.content_l .bg1 .login .media .qq{
    background: url("../images/new-sso.png") no-repeat 0px -350px;
}

.content_l .bg1 .login .media .wb{
    margin: 0 15px;
    background: url("../images/new-sso.png") no-repeat -30px -350px;
}
.content_l .bg1 .login .media .wx{
    background: url("../images/new-sso.png") no-repeat -60px -350px;
}
/*页脚*/
.lrFoot {
    width: 100%;
    background: #f9f9f9;
}
.lrFoot p{
    text-align: center;
    font-size: 12px;
    color: #999;
    line-height: 23px;
    padding: 24px 0 56px;
}